$darkGrey: #121212;
$purple200: #BB86FC;
$purple700: #7B1FA2;
$teal200: #03DAC5;
$white: #FFFFFF;


$background: $darkGrey;
$foreground: $white;
$primary: $purple200;
$primaryVariant: $purple700;
$secondary: $teal200;
